<nav class="navbar navbar-expand-lg bg-primary p-3" id="mynav">
    <!--  _______ NavBar Container Start Here _______  -->

    <div class="container">

        <!--  _______ Brand Logo Start Here _______  -->

        <a class="navbar-brand" href="#" id='site-logo'><img src="assets/Images/logo-white.png" alt="logo-white"
                class=""></a>
        <!--  _______ Brand Logo End Here _______  -->

        <!--  _______ Toggler Button Start Here _______  -->
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-align-justify fa-2x text-white navbar-toggler-icon"></i>

        </button>
        <!--  _______ Toggler Button End Here _______  -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" style="color: #f75a5a;">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#team">Team</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#review">Reviews</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#service">Services</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#contacts">Get In Touch</a>
                </li>



            </ul>

        </div>
        <!--  _______ Social Media Links Start Here _______  -->

        <ul class="navbar-nav ml-auto d-lg-block d-md-none d-sm-none d-none">
            <li class="nav-item d-inline-block">
                <a class="nav-link" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </li>

            <li class="nav-item d-inline-block">
                <a class="nav-link" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </li>

            <li class="nav-item d-inline-block">
                <a class="nav-link" href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
        <!--  _______ Social Media Links End Here _______  -->


    </div>
    <!--  _______ NavBar Container End Here _______  -->
</nav>

