.test1
{
    color:red;
    background-color: darkgoldenrod;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
}

.test2
{
    color:blue ;
    background-color: aquamarine;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif
}